# **Computation II** <br/>
**Bachelor's Degree Programs in Data Science and Information Systems**<br/>
**NOVA IMS**<br/>

**NOTE:** Some of the practical class materials were adapted from Prof. Dr. Illya Bakurov's class materials.

# Introduction

Jupyter notebooks contain executable cells, i.e., code snippets that can be run at any time and output results. You can also include Markdown cells in notebooks (such as this one), to document your code and comment on results.

Google Colab, provides you with an interactive environment called a Colab notebook that lets you write, execute and document Python code in the form of ipythoon notebooks: it does not require configuration, it is free and easy to use. Jupyter Notebook and Jupyter Lab serve the same purpose except they need to be installed and configured on your PC. 

Students are recommended to use [Anaconda distribution](https://www.anaconda.com/download).

Parts of this notebook were adapted with permission from Illya Bakurov's class materials.

____________

You can execute cells using ``Shift + Enter``, or ``Ctrl + Enter`` (for Mac users ``Cmd + Enter``) if you don't want to proceed to the next cell.

You can try this out below:

In [1]:
print("Hello, World!")

Hello, World!

Cells can be converted to Markdown (or to code, or raw, but we won't be using the latter type), in the toolbar on top of this file. You can do all sorts of interesting things with markdown, even use simple HTML snippets:

<div style="padding: 15px; border: 1px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6;">
     <b>Tip:</b> You can learn more about using Jupyter Notebooks in the <a href="https://github.com/joaopfonseca/python-essentials/blob/master/00_introduction_to_jupyter_notebooks.ipynb">Python Essentials GitHub repository - Notebook 0</a>.
</div>

# 1. Variables

Variables allow you to easily assign, reference and modify a given value throughout execution of your program. They can be seen as containers for storing data. For example, a variable can be used to **store result** of some (hypothetically) time-consuming (therefore expensive) operation, such as customers' churn prediction, so that it does not need to be performed again whenever you need to use its result. Moreover, it **gives numbers' a meaning**.

Values are assigned to a variable using the ``=`` operator. The value is placed after the assignment operator and are also called literal.

Ideally, **variable names should be short and meaningful**. By convention, a variable name is written in lowercase letters, and each word is separated by an underscore (aka **snake convention**): ``nova_ims``, ``python_revisions_class``, etc. Variable names can only contain letters (A–Z, a–z), digits (0–9), and underscores (_). However, **variable names cannot begin with a digit**.
The official style guide for writing Python can be found [here](https://peps.python.org/pep-0008/).

In [2]:
candidate_name = "John Smith"
company, position = "NOVA IMS", "Data Scientist"  # Declare several variables in one line
daily_wage = 66.66666
daily_working_hours = 8

You can change the value of a variable at any point:

In [3]:
# printing the variable before assigning the new value:
print(f"Value of ``candidate_name`` before assigning a new value: {candidate_name}")

# Assign a new value
candidate_name = "Jane Doe"

# printing the variable after assigning the new value:
print(f"Value of ``candidate_name`` after assigning a new value: {candidate_name}")

Value of ``candidate_name`` before assigning a new value: John Smith
Value of ``candidate_name`` after assigning a new value: Jane Doe

You cannot assign variable names that are also Python keywords:

In [5]:
for = "test"

SyntaxError: invalid syntax (223120202.py, line 1)

You can see the full list of Python keywords here:

In [6]:
# Prints Python keywords
print(help("keywords"))

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [4]:
print("GAY")

### NameError

There is one common error when using variables, that you have almost certainly encountered at some point. Take a look at this code, and see if you can figure out why it causes an error.

In [2]:
message = "Thank you for sharing Python with the world, Guido!"
print(mesage)

NameError: name 'mesage' is not defined

### Naming Rules

To sum up, the naming rules you should follow to define variables are:

1. Variables can only be named containing letters, numbers, and underscores. Variable names can start with a letter or an underscore, but can not start with a number.
2. Spaces are not allowed in variable names, so we use underscores instead of spaces. For example, use student_name instead of "student name".
3. You cannot use [Python keywords](http://docs.python.org/3/reference/lexical_analysis.html#keywords) as variable names.
4. Variable names should be descriptive, without being too long. For example mc_wheels is better than just "wheels", and number_of_wheels_on_a_motorycle.

<div style="padding: 15px; border: 1px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #a94442; background-color: #f2dede; border-color: #ebccd1;">
<b>Warning:</b> Although you can technically override the value of a built-in function, <b>you should never, ever do it</b>.
</div>

# 2. Data Types

__Data type__: classification of the data which tells the compiler or interpreter how the information will be used

5 commonly used scalar data types:
1. Strings
1. Numbers: int, long, float and complex
1. Booleans
1. NoneType
1. Datetime

Use the function type to check the type of an object:

In [ ]:
print("A string has the type: ", type(candidate_name))
print("An integer has the type:", type(daily_working_hours))
print("An float has the type:", type(daily_wage))
print("A boolean has the type:", type(True))

A string has the type:  <class 'str'>
An integer has the type: <class 'int'>
An float has the type: <class 'float'>
A boolean has the type: <class 'bool'>

### 2.1. Numeric data types

Python has three built-in numeric data types: integers, floating-point numbers, and complex numbers.

An integer (aka ``int``) is a whole number without a decimal point.

The function ``isinstance`` verifies whether a given object (the first argument) is of a given type (the second argument).

In [ ]:
x = 4  
print("The value of x is", x)  
print("The type of x is", type(x)) 
print("Is x an instance of int?", isinstance(x, int))  # Verifies whether x is of type int

The value of x is 4
The type of x is <class 'int'>
Is x an instance of int? True

A floating-point (aka float), is a number with a decimal point.

In [ ]:
a, b, c = 7, 7.12, 7.0
print(f"``a`` is of type {type(a)} and contains the value {a}")
print(f"``b`` is of type {type(b)} and contains the value {b}")
print(f"``c`` is of type {type(c)} and contains the value {c}")
print("\nIs a of the same type as b? \tR:", isinstance(a, type(b)))

``a`` is of type <class 'int'> and contains the value 7
``b`` is of type <class 'float'> and contains the value 7.12
``c`` is of type <class 'float'> and contains the value 7.0

Is a of the same type as b? 	R: False

A few notes about exponents:
1.  raising a number to a negative power is the same as dividing 1 by the number raised to the positive power
2.  the ** operator returns an integer if both operands are integers, and a float if any one of the operands is a floating-point number.

In [ ]:
print(2**2)
print(2**-2)  # Equivalent to 1 / (2**2)
print(1/2**2)
print(9**0.5)  # Equivalent to a squared root

4
0.25
0.25
3.0

The ``*``, ``/``, ``//``, and ``%``  operators all have equal precedence in an expression, and each of these has a higher precedence than the ``+`` and ``-`` operators. To make things clearer, you can always add a whitespace around the operators with the lowest priority(ies) if operators with different priorities are used.

In [ ]:
print(2 + 2*2)
print((2 + 2)*2)

6
8

### 2.2. Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [ ]:
# Set object to be a boolean
a, b = True, False
print(type(a), a)
print(type(b), b)

<class 'bool'> True
<class 'bool'> False

In [ ]:
print(1 > 2)
print(1 < 2)

False
True

In [ ]:
print(bool(1))
print(bool(1234))
print(bool(0))

True
True
False

### 2.3. Strings

At this point, you are probably very familiar with all of this already. So let's keep this short.

In [ ]:
# You can insert variables within strings in multiple different ways
# Here's an example using %-formatting (can get messy):
print("%s is a %s at %s." % (candidate_name, position, company))

# Here's an example using str.format() 
# (it's a little bit better; you can pass positional arguments to help, but gets very verbose)
print("{name} works {hours} hours per day and earns {wage}€ daily.".format(name=candidate_name, hours=daily_working_hours, wage=daily_wage))

# Here's an example using an f-string (much easier to use):
print(f"{candidate_name} enjoys working at {company}, and she likes her duties as a {position}.")

Jane Doe is a Data Scientist at NOVA IMS.
Jane Doe works 8 hours per day and earns 66.66666€ daily.
Jane Doe enjoys working at NOVA IMS, and she likes her duties as a Data Scientist.

You can add and multiply strings, and apply different types of useful functions:

In [ ]:
# add and multiply
print("# add and multiply")
weird_text = candidate_name + company * 2
print(weird_text)

# replace string subsets
print("\n# replace string subsets")
weird_text = weird_text.replace("NOVA IMS", "Cool uni")
print(weird_text)

# remove string subsets
print("\n# remove string subsets")
weird_text = weird_text.replace("DoeCool uniCool", "")
print(weird_text)

# split a string using another pattern
print("\n# split a string using another pattern")
print(weird_text.split(" "))

# remove trailing spaces
print("\n# remove trailing spaces")
print("|"+f"      {weird_text}     "+"|")
print("|"+f"      {weird_text}     ".strip()+"|")

# Set everything to upper or lower case
print("\n# Set everything to upper or lower case")
print(weird_text.upper(), "|", weird_text.lower())

# add and multiply
Jane DoeNOVA IMSNOVA IMS

# replace string subsets
Jane DoeCool uniCool uni

# remove string subsets
Jane  uni

# split a string using another pattern
['Jane', '', 'uni']

# remove trailing spaces
|      Jane  uni     |
|Jane  uni|

# Set everything to upper or lower case
JANE  UNI | jane  uni

However, keep in mind there are many more ways to modify strings that are not listed above.

# 3. Operators

### Arithmetic Operators

Python supports all the basic arithmetic operators just like any other programming language. <br>

<table>
<tr>
    <th>Operator</th> 
    <th style="text-align:left">Description</th>
</tr>
<tr>
    <td style="text-align:center">+</td> 
    <td style="text-align:left">Adds two values together.</td> 
</tr>
<tr>
    <td style="text-align:center">-</td> 
    <td style="text-align:left">Subtracts the right‐hand operand from left operand.</td> 
</tr>
    <tr>
    <td style="text-align:center">*</td> 
    <td style="text-align:left">Multiplies the right‐hand operand by the left operand.</td> 
</tr>
<tr>
    <td style="text-align:center">/</td> 
    <td style="text-align:left">Divides the left‐hand operand by the right operand.</td> 
</tr>
<tr>
    <td style="text-align:center">%</td> 
    <td style="text-align:left">Divides the left‐hand operand by the right operand and returns the remainder.</td> 
</tr>
<tr>
    <td style="text-align:center">**</td> 
    <td style="text-align:left">Calculates the exponential value of the right operand by the left operand.</td> 
</tr>
<tr>
    <td style="text-align:center">//</td> 
    <td style="text-align:left">Performs integer division, in which the left operand is divided by the right operand and only the whole number is returned (also called floor division).</td> 
</tr>
 </table>

In [ ]:
# Try out some arithmetic operations here

Several arithmetic operators can be applied on integers.

In [ ]:
x = 0.5

x = x - 1  # Subtracts 1 to x
print("x - 1 =", x)

x += 2  # Equivalent to x = x + 2
print(x)

x **= 3  # Equivalent to x = x**3
print(x)

x = x // 2  # Quotient in which the decimal points are removed
print(x)

x = x % 3  # Remainder after dividing x by 2 (aka modulus)
print(x) 

x = x / 2 # Equivalent to x = x + (2/2)
print(x)

x - 1 = -0.5
1.5
3.375
1.0
1.0
0.5

Notice that dividing two integers yields a floating-point, and adding a floating-point to an integer yields a floating-point.

In [ ]:
print(2 / 2)
print(1 + 1.0)

1.0
2.0

### Relational / Comparison Operators


The comparison operators will allow us to compare variables and output a Boolean value (``True`` or ``False``).

<table>
<tr>
    <th>Operator</th> 
    <th style="text-align:left">Description</th>
</tr>
<tr>
    <td style="text-align:center">==</td> 
    <td style="text-align:left"> Is equal to - Determines whether two values are equal. Notice that the relational operator uses two equals signs.
A mistake many developers make is using just one equals sign, which results in one value being assigned to another.</td> 
</tr>
<tr>
    <td style="text-align:center">!=</td> 
    <td style="text-align:left"> Is not equal to - Determines whether two values are not equal.</td> 
</tr>
    <tr>
    <td style="text-align:center">></td> 
    <td style="text-align:left"> Is greater than - Verifies that the left operand value is greater than the right operand value.</td> 
</tr>
<tr>
    <td style="text-align:center"><</td> 
    <td style="text-align:left"> Is less than - Verifies that the left operand value is less than the right operand value.</td> 
</tr>
<tr>
    <td style="text-align:center">>=</td> 
    <td style="text-align:left"> Is greater than or equal to - Verifies that the left operand value is greater than or equal to the right operand value.</td> 
</tr>
<tr>
    <td style="text-align:center"><=</td> 
    <td style="text-align:left"> Is less than or equal to - Verifies that the left operand value is less than or equal to the right operand value.</td> 
</tr>
 </table>

In [ ]:
# Try out some comparison operations here

### Logical Operators

There are three logical operators in Python: ``not``, ``and`` and ``or``. Typically, these operate upon boolean arguments and return a boolean value. 

<table>
<tr>
    <th>Operator</th> 
    <th style="text-align:left">Description</th>
</tr>
<tr>
    <td style="text-align:center">and</td> 
    <td style="text-align:left"> Determines whether both operands are true.</td> 
</tr>
<tr>
    <td style="text-align:center">or</td> 
    <td style="text-align:left"> Determines when one of two operands is true.</td> 
</tr>
    <tr>
    <td style="text-align:center">not</td> 
    <td style="text-align:left">Negates the truth value of a single operand. A true value becomes false and a false value becomes true.</td> 
</tr>
 </table>

In [ ]:
# Try out some logical operations here

### Membership Operators

<table>
<tr>
    <th>Operator</th> 
    <th style="text-align:left">Description</th>
</tr>
<tr>
    <td style="text-align:center">in</td> 
    <td style="text-align:left"> Determines whether the value in the left operand appears in the sequence found in the right operand.</td> 
</tr>
<tr>
    <td style="text-align:center">not in</td> 
    <td style="text-align:left"> Determines whether the value in the left operand is missing from the sequence found in the right operand.</td> 
</tr>
 </table>

In [ ]:
# Try out some membership operations here

### Identity Operators

<table>
<tr>
    <th>Operator</th> 
    <th style="text-align:left">Description</th>
</tr>
<tr>
    <td style="text-align:center">is</td> 
    <td style="text-align:left"> Evaluates to true when the type of the value or expression in the right operand points to the same type in the left operand.</td> 
</tr>
<tr>
    <td style="text-align:center">is not</td> 
    <td style="text-align:left"> Evaluates to true when the type of the value or expression in the right operand points to a different type than the value or expression in the left operand.</td> 
</tr>
 </table>

In [ ]:
# Try out some identity operations here

### Mixing comparison and logical operators

An interesting feature of Python is the ability to chain multiple comparisons to perform a more complex test. 

<div align="center">
<img src='https://i.postimg.cc/0Qnm4fPL/operators-mix.png'>
</div>

In the case above, for example, the computer will evaluate the left expression first, and then it will evaluate the right expression. When it knows the Boolean values for each, it will then evaluate the whole expression down to one Boolean value.
<br>

The Boolean operatoes have an order of operations just like the math operators do. After any math and comparion operators evaluate, Python evaluates the __not__ operators first, then the __and__ operators and then the __or__ operators.