# **Computation II** <br/>
**Bachelor's Degree Programs in Data Science and Information Systems**<br/>
**NOVA IMS**<br/>

# Exercises

**Exercise 21**: Numpy version

Import numpy as ``np`` and print the version number.

In [3]:
import numpy as np
np.__version__

'1.26.4'

**Exercise 22**: Simple array

Create a 1D array of numbers from 0 to 9

In [2]:
# Write your solution here

arr1 = [i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**Exercise 23**: 2D array

Create a 3×3 numpy array of all True’s

In [ ]:
# Write your solution here

**Exercise 24**: Odd numbers

Extract all odd numbers from `arr`

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Write your solution here

**Exercise 25**: Replace numbers

1. Replace all odd numbers in `arr` with `-1`
2. Repeat the exercise, this time without modifying `arr` (and do not store the modified version into any variable)

In [ ]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Write your solution here

**Exercise 26**: Reshape and stack

1. Convert arrays `a` and `b` from 1D array to a 2D array with 2 rows
2. Stack the reshaped arrays `a` and `b` vertically
3. Stack the reshaped arrays `a` and `b` horizontally

In [ ]:
a = np.arange(10)
b = np.repeat(1, 10)

# Write your solution here

**Exercise 27**: Common items

1. Get the common items between `a` and `b` and print them.
2. Get the positions where elements of `a` and `b` match and print them.

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

# Write your solution here

**Exercise 28**: Maximum

Convert the function `maximum` that works on two scalars, to work on two arrays.

In [ ]:
def maximum(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

# Comment or delete this line to check after modifying the function
print(maximum(1, 5))

# Example array inputs
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

# Write your solution here

**Exercise 29**: Swap

1. Swap columns 1 and 2 in the array `arr`.
2. Swap rows 1 and 2 in the array `arr`.
3. Reshape `arr` to a single dimensional array.
4. Reverse the order in arr.
5. **Bonus:** Reverse the order of the rows and columns of `arr` before reshaping.

In [ ]:
arr = np.arange(9).reshape(3,3)

# Write your solution here

**Exercise 30**: Random numbers

Create a 2D array of shape 5x3 to contain random decimal numbers between 5 and 10.

In [ ]:
# Write your solution here

**Exercise 31**: Working with a toy dataset

1. Extract the column `sepalwidth` from the iris dataset.
2. Find the mean, median, standard deviation of that column using built-in numpy functions.
3. Repeat step 2, without using built-in numpy functions (i.e., use loops and basic math operators).
4. Create a normalized form of `sepalwidth` whose values range exactly between 0 and 1 so that the minimum has value 0 and maximum has value 1.

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
column_names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Write your solution here

**Exercise 32**: More work with a toy dataset

1. Extract the column `sepallength` from the iris dataset.
2. Find the 5th and 95th percentile of iris's `sepallength`.
3. Insert `np.nan` values at 20 random positions in the `iris` dataset.
4. Find the number and position of missing values in `iris`' `sepallength`.
5. Get the rows that have `petallength` (3rd column) > 1.5 and `sepallength` (1st column) < 5.0
6. Find the unique values and the count of unique values in `iris`' `species` column

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
column_names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Write your solution here

**Exercise 33**: Binning

Bin the petal length (3rd) column of iris to form a text array, such that if petal length is:

- Less than 3 --> 'small'
- 3-5 --> 'medium'
- '>=5 --> 'large'

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Write your solution here

**Exercise 34**: Counts

Compute the counts of unique values row-wise.

In [ ]:
np.random.seed(42)
arr = np.random.randint(1,11,size=(6, 10))

# Write your solution here

**Exercise 35**: 

Find the mean of `petalwidth` grouped by `species` in the iris dataset.

In [4]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Write your solution here